* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    background:rgba(235, 233, 155, 0.418);
}



.center {
    width: 290px;
    max-width: 300px;
    height: 470px;
    justify-content: center;
 /*    border: 2px solid black; */
    border-radius: 10px;
    background-color: rgba(192, 138, 91, 0.747);
}

img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 1rem;
}

.title {
    width: 100%;
    margin-top: 0;
    padding: 0 5px 0 5px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph {
    width: 90%;
    margin-top: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 667px) {
    .center {
        width: 100%;
        height: auto;

    }
}


